{% extends "base.html" %}

{% block content %}
<section class="pagina-evento">
    <div class="encabezado-pagina">
        <h2>Detalles del Encuentro</h2>
        <p>Te esperamos para revivir aquellos momentos inolvidables.</p>
    </div>

    <div class="tarjeta-info">
        <!-- Fecha -->
        <div class="fila-info">
            <div class="icono-grande">
                <iconify-icon icon="mdi:calendar-month"></iconify-icon>
            </div>
            <div>
                <h3>Fecha y Hora</h3>
                <!-- CAMBIO: Fecha exacta -->
                <p>04 de Septiembre, 2027</p>
                <p>09:00 Horas</p>
            </div>
        </div>

        <!-- MAPA -->
        <div class="mapa-contenedor">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.679045041095!2d-79.04200802427887!3d-8.13412058143858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d134c0acab7%3A0x68ffc1b8cca3eb89!2sColegio%20San%20Jos%C3%A9%20Obrero!5e0!3m2!1sen!2ses!4v1772825439618!5m2!1sen!2ses"
                width="600" height="450" allowfullscreen="" loading="lazy" title="Ubicación del evento">
            </iframe>
        </div>

        <div class="vestimenta">
            <h4>Vestimenta</h4>
            <p>Sport Elegante</p>
        </div>
    </div>
</section>
{% endblock %}